<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <h1>Edit Gym</h1>
    <form action="/gyms/<%= gym.id %>?_method=PUT" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" name="gym[name]" id="name" value="<%= gym.name %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" name="gym[location]" id="location" value="<%= gym.location %>">
        </div>
        <button>Update Gym</button>
    </form>
    <a href="/gyms">Back to the all Gyms</a>
</body>

</html>